body {
  background-color: rgb(4, 4, 4);
}

.nav {
  background-color: #cdf4f9; 
  padding: 10px 20px;      
}

.nav ul {
  list-style: none;         
  margin: 0;
  padding: 0;
  display: flex;            
  gap: 20px;                
}

.nav a {
  text-decoration: none;   
  color: #ebf2f5;          
  font-family: sans-serif;
}

.elemento {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
