body {
  background-color: rgb(215, 239, 247);
}

.menu {
  background-color: #f0f0f0; /* Fundo cinza claro */
  padding: 10px 20px;       /* Espaçamento interno */
}

.menu ul {
  list-style: none;         /* Remove as bolinhas da lista */
  margin: 0;
  padding: 0;
  display: flex;            /* Coloca os itens um ao lado do outro */
  gap: 20px;                /* Espaço entre os itens */
}

.menu a {
  text-decoration: none;    /* Remove o sublinhado dos links */
  color: #c3e8f4;           /* Cor do texto escura */
  font-family: sans-serif;
}
